<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/amit/Java_programs/TestingSelenium">
        <classes>
            <class name="selenium.test.Swag_Labs">
                <methods>
                    <include name="googleList"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>